<div class="container-fluid p-0">
  <div class="container">
    <div class="logo">
      <%= image_tag 'logo.png' %>
    </div>
    
    <section class="fixed-bottom mb-3 mx-3">      
      <%= link_to 'LOG IN', login_path, class: 'd-block text-center py-3 login' %>
    
      <%= link_to 'SIGN UP', signup_path, class: 'd-block text-center py-3 signup' %> 
    </section>
  </div>  
</div>