<div class="container">    
  <div class="logo-container">
    <%= image_tag 'logo.png' %>
  </div>
  
  <section class="login-signup">      
    <%= link_to 'LOG IN', login_path, class: 'login' %>
  
    <%= link_to 'SIGN UP', signup_path, class: 'signup' %> 
  </section>       
</div>