<div class="container">
  <div>
    <header class="header">
      <%= link_to image_tag("arrow_left.png"), root_path %>

      <div>
        <h1>LOGIN</h1>
      </div>
      
      <input type="submit" value="Log In" form="login">      
    </header>
  
    <section class="login-form">
      <%= form_for(:session, url: login_path, html: {id: "login"}) do |f| %>                 
        <%= f.text_field :name, placeholder: 'Name' %><br><br>         
      <% end %>
    </section>
  </div>  
</div>
