<h1>All Groups</h1>

<div>
  <% @groups.each do |g| %>
      <div>
          Name:
          <%= g.name %>
          Author:
          <%= g.author_id %>
          Created At:
          <%= g.created_at.strftime("%Y/%m/%d") %>
      </div>
    <% end %>
</div>
