<h1>All Groups</h1>

<div>
  <% @groups.each do |g| %>
      <div>
          <%= group_avatar(g) %><br>
          Name:
          <%= link_to "#{g.name}", group_path(@group, :id => g.id) %>
          Created At:
          <%= g.created_at.strftime("%Y/%m/%d") %>
      </div>
    <% end %>
</div>
<br>
<%= link_to 'Create a new Group', new_group_path %><br>
