<div class="container">
  <div class="container-reg-log">
    <header class="header header-bg">
      <%= link_to image_tag("arrow_left.png"), user_path(current_user.id) %>
      
      <div>
        <h1 class=>NEW GROUP</h1>
      </div>

      <input type="submit" value="Save" form="new_group_form">
    </header>
  

    <section class="login-form">
      <%= form_for(@group, html: {id: 'new_group_form'}) do |form| %>
        <%= form.text_field :name, placeholder: 'Group\'s Name' %><br>
        <%= form.file_field :group_avatar %><br><br>
      <% end %>     
    </section>
  </div>
</div>