<h1>Create a new Group</h1>

<%= form_for(@group) do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name, placeholder: 'Group\'s Name' %><br><br>

  <%= form.submit 'Save' %>
<% end %>
<br>
