@import "variables";

.logo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  color: $text-color-dark;
  font-family: "Proxima-Nova-Regular";
  &:active {
    color: $text-color-light;
    background-color: $text-color-three;
  }
  &:hover {
    color: $text-color-dark;
    text-decoration: none;
  }
}