@import "variables";
@import "mixins";

.logo-container {
  grid-row: 1/3;
  margin-top: 5vmax;
  padding-bottom: 5vmin;
  @include d-flex(row, center, center);
  img {
    width: 60%;
  }
}

.login-signup {
  grid-row: 3/4;
  margin-bottom: 5vmax;
  padding: 0 5vmin;
  @include d-flex(column, end, center);
  font-family: "Proxima-Nova-Regular";
  font-size: 5vmin;
  a {
    height: 7vmax;
    width: 100%;
    line-height: 7vmax;
    text-align: center;
  }
  .login {
    color: $text-color-light;
    background-color: $primary-color;
    &:hover {
      background-color: $primary-color-dark;
    }
  }
  .signup {
    color: $text-color-dark;
  }
}