@import "reset";
@import "variables";
@import "mixins";

body {
  background-color: $bg-color;
}

.container {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.container-reg-log {
  grid-row: 1/2;
}

a {
  text-decoration: none;
}

input[type=submit] {
  border: none;
  background-color: transparent;
  color: $text-color-light;
  font-size: 5vmin;
  font-family: "Proxima-Nova-Regular";
  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.border-art {
  border: solid 0.5vmin #989da341;
}

.add-new-button {
  position: fixed;
  bottom: 0;
  height: 20vmin;
  width: 100%;
  font-size: 5vmin;
  line-height: 20vmin;
  text-align: center;
  background-color: $secondary-color;
  color: $text-color-light;
  &:hover {
    background-color: #71d629;
  }  
}

.header-bg {
  background-image: linear-gradient($primary-color, $primary-color-dark);
}

.profile-bg {
  background-image: linear-gradient(#143560, #3084c2);
}

.alert {
  width: 100%;
  height: 8vh;  
  font-size: 5vmin;
  font-family: "Proxima-Nova-Regular";
  line-height: 8vh;
  text-align: center;
}

.alert-success {
  color: #408311;
  background-color: #7ed44042;
}

.alert-danger {
  color: #8d1313;
  background-color: #d6484844;
}