@import "reset";
@import "variables";
@import "mixins";

/*@import "attendances";
@import "groups";*/
@import "home";
/*@import "sessions";
@import "users";*/

body {
  background-color: $bg-color;
}

.container {
  max-width: 100vw;
  height: 100vh;
  padding: 5vmax;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

a {
  text-decoration: none;
}

/*.alert {
  width: 100%;
}

.header-text {
  color: $text-color-light;  
}

.bg-header {
  background-image: linear-gradient($primary-color, $primary-color-dark);
}

.title {  
  height: 10vh;
  line-height: 10vh;
  font-size: 22px;
  font-family: "Proxima-Nova-Regular";  
}

input[type=submit] {
  font-size: 15px;
  border: none;
  background-color: transparent;
  color: $text-color-light;
  &:focus {
    outline: none;
  }
}

input[type=text] {
  @include input();
  &:focus {
    outline: solid 1px #d3d3d3;
  }
}

input[type=file] {
  @include input();  
}

article {
  font-size: 14px;
}

.border-art {
  border: solid 1px #989da341;
}

.a-text:hover {
  text-decoration: none;
  color: $text-color-light;
}

.blank-space {
  height: 20vh;
  width: 100vw;
}

.add_new_button {
  background-color: $secondary-color;
  height: 10%;
  width: 100%;
  font-family: "Proxima-Nova-Regular";
  font-size: 17px;
  &:hover {
    background-color: #71d629;
  }  
}*/