@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("proxima_nova_bold.otf");  
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url("proxima_nova_regular.otf");
}

@font-face {
  font-family: "Proxima-Nova-Thin";
  src: url("proxima_nova_thin.otf");
}

$primary-color: #3778c2;
$primary-color-dark: #2d619d;
$secondary-color: #5fb523;
$bg-color: #f5f6f8;
$text-color-dark: #434b54;
$text-color-one: #555e67;
$text-color-two: #86898e;
$text-color-three: #989da3;
$text-color-light: #fff;

@mixin input {
  width: 100%;
  padding: 12px 20px;
  background-color: $text-color-light;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #e7e7e7;
}

@mixin link(){
  line-height: 60px;
  background-repeat: no-repeat;
  background-position: 0 .5em;
  padding-left: 1.8em;
}

body {
  background-color: $bg-color;
  font-family: "Proxima-Nova-Thin";
}

.container {
  max-width: 1000px;
}

.header-text {
  color: $text-color-light;  
}

.bg-header {
  background-image: linear-gradient($primary-color, $primary-color-dark);
}

.title {  
  font-size: 26px;
  font-family: "Proxima-Nova-Thin";
}

.profile-bg {
  height: 100vh;
  background-image: linear-gradient(#143560, #3084c2);
}

input[type=submit] {
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: $text-color-light;
  &:focus {
    outline: none;
  }
}

input[type=text] {
  @include input();
  &:focus {
    outline: solid 1px #d3d3d3;
  }
}

input[type=file] {
  @include input();  
}

.avatar {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.menu-border {
  border-bottom: solid 1px $text-color-light;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
  color: $text-color-light;
}

#all_attn {
  @include link();
  background-image: url('all_attendances.png');
}

#all_ext_attn {
  @include link();
  background-image: url('all_ext_attendances.png');
}

#all_groups {
  @include link();
  background-image: url('all_groups.png');
}

.add_new_button {
  background-color: $secondary-color;
  &:hover {
    background-color: #71d629;
  }
  a {
    display: inline-block;
    width: 100%;
    border: solid 1px $text-color-light;
    font-family: "Proxima-Nova-Regular";
    font-size: 28;
  }
}
