// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";
@import "mixins";

.profile-bg {
  height: 100vh;  
  background-image: linear-gradient(#143560, #3084c2);
  a {
    color: $text-color-light;
  } 
  header {
    @include d-flex(column, start, center);
    color: $text-color-light;
    div {
      width: 100vmin;
      height: 10vmax;
      @include d-flex(row, end, center);
      div {
        padding-right: 5vmin;        
        a {
          font-size: 5vmin;
          font-family: "Proxima-Nova-Regular";          
        }
      }
    }
    h1 {
      margin-top: 3vmin;
      font-size: 8vmin;
      font-family: "Proxima-Nova-Bold";
    }    
  }
  section {
    grid-row: 2/3;
    @include d-flex(column, center, center);
    ul {
      list-style-type: none;
      font-size: 5vmin;
      font-family: "Proxima-Nova-Regular";
      li {
        padding-top: 4vmin;
      }
    }
  }
}

.avatar {
  object-fit: cover;
  width: 40vmin;
  height: 40vmin;
  border-radius: 50%;
}

.menu-border {
  padding-bottom: 4vmin;
  border-bottom: solid 0.5vmin $text-color-light;
}

#all_attn {
  @include link();
  background-image: url('all_attendances.png');
}

#all_ext_attn {
  @include link();
  background-image: url('all_ext_attendances.png');
}

#all_groups {
  @include link();
  background-image: url('all_groups.png');
}

#all_users {
  @include link();
  background-image: url('all_users.png');
}