<div class="container">
  <div class="attn-container">
    <div>
      <header class="header">
        <%= link_to image_tag("arrow_left.png"), user_path(current_user.id)%>
          
        <div>
          <h1>ATTENDANCES</h1>
        </div>

        <%= render partial: 'sessions/logout_link'%>
      </header>
    </div>

    <section class="attn-render">
      <%= render 'attendances' %>          
    </section>
  </div>
</div>
